// Some frontend developers prefer to keep layout styles in a partial, like this.

// Huh. Wouldn't it be nice if we didn't have to repeat this?
// With partials, you don't have to. Create a color variables
// partial and include it at the top.



.nav-wrapper {
	margin: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .nav-bar {
	list-style-type: none;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
  }
  
  .nav-logo {
	width: 40px;
	display: inline-block;
  }
  
  .nav-list {
	display: inline-block;
  }
